
body {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
}

.title {
    font-size: 60px;
    line-height: 60px;
}

.banner-title{
    font-size: 35px;
    line-height: 41px;
}

