
body {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    width: 100%;
    min-width: 860px;
    padding-left: 20px;
    padding-right: 20px;   
    background:#bde6ee;
    box-sizing: border-box;
    
}

.title {
    font-size: 60px;
    line-height: 60px;
}

.banner-title{
    font-size: 35px;
    line-height: 41px;
}


.header {
  min-width: 860px;
  outline: 2px solid #20037c;
  background-color:#eef06c;
}

.clearfix::after {
        display: table;
        content:"";
        clear:both;
    
}
.main-header {
    outline: 2px solid #20037c;
    background:#eef06c;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.main-navigation {
  width: 354px;
  min-height: 44px;
  display: inline-block;
  margin-right: 70px;
}

.main-navigation-list{
    display:inline-block;
    list-style: none;
    padding-left: 0;
}

.main-navigation-list>li {
     display:inline-block;
}

.navigation-list>li{
    display:inline-block;
}

.sub-navigation-list{
    display: none;
}

.main-navigation a{
    color: #fff;
}

.user-block {
  width: 268px;
  min-height: 44px;
  display: flex
}
.sub-user-block {
    display: none;
}

.sub-login{
    display: none;
}

.user-block-info{
    top: 100px;
    width: 180px;
    position: absolute;
}

.search-label{
    display: inline-block;
    border-radius:50%;
    width: 34px;
    height:34px;
    
}
.logo {
  width: 154px;
  min-height: 64px; 
  margin-top: 9px;
  margin-right: 25px;
  
}

.slider {
  min-width: 860px;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 300px;
  margin-bottom: 40px;
  background-color:#eef06c;
    
}

.slider-1{
    text-align:center
}

.slider-2,
.slider-3 {
    display:none
}


.container {
  display: flex;  
  height: 230px;
  margin-right: auto;
  margin-left: auto; 
}

.banner-1 {
  display: inline-block;
  min-width: 420px;
  min-height:230px;
  padding-left:20px;
  padding-right:20px; 
  margin-right: 20px;

}

.banner-2 {
  display: inline-block;
  min-width: 420px;
  min-height:230px;
  padding-left:20px;
  padding-right:20px; 
}

.item-block {
  display: flex;
  min-height: 275px;
  text-align: center;
  margin-right: auto;
  margin-left: auto; 
   margin-top: 40px;   
}

.item-1 {
  display: inline-block;
  width: 205px;
  min-height: 275px;
  margin-right: 20px;
    
}
.item-2{
  display: inline-block;
  width: 205px;
  min-height: 275px;
  margin-right: 20px;
}

.item-3 {
  display: inline-block;
  width: 205px;
  min-height: 275px;
  margin-right: 20px;
}

.item-4 {
  display: inline-block;
  width: 205px;
  min-height: 275px;
}


.container-shopinfo {
  display: flex;
  height: 375px;
  background-color:#eef06c; 
 margin-bottom: 40px;
 margin-top: 40px;
  padding-left: 20px;
 padding-right: 20px;
  
}

.title-shopinfo {
   
}

.left-column {
  display: inline-block;
  min-width:  420px;
  min-height: 275px;
}
.right-column {
  display: inline-block;
  min-width:  420px;
  min-height: 275px;
}

.container-blog {
  display: flex;
  height: 220px;
  background-color:#eef06c; 
       
}

.left-container-blog {
  width: 420px;
  min-height: 220px;
display: inline-block;
}

.right-container-mail {
  width: 420px;
  min-height: 220px;
  display: inline-block;  
}

.block-map {
  display: flex;
  min-height: 430px;
  margin-top:40px;

}
.main-footer {
  display: flex;
  height: 100px;
  margin-top: auto;
  padding-top: auto;
  padding-bottom: 20px;
 background-color:#eef06c;
}


.footer-social {
  display: flex;
  width: 195px;
  min-height: 45px;
  padding-left: 20px;
    margin-right: 55px; 
      
}

.social-btn-tw {
    display: inline-block;
    border-radius:50%;
    width: 34px;
    height:34px;
    padding-right: 15px;
    
}
.social-btn-inst {
    display: inline-block;
    border-radius:50%;
    width: 34px;
    height:34px;
    padding-right: 15px;
}
.social-btn-fb {
    display: inline-block;
    border-radius:50%;
    width: 34px;
    height:34px;
    padding-right: 15px;
}

social-btn-vk {
    display: inline-block;
    border-radius:50%;
    width: 34px;
    height:34px;
}

.footer-title {
  display: inline-block;
  width: 420px;
  min-height: 100px;
}
.footer-title-left {
  display: inline-block;
   margin-right: 20px;
}

.footer-title-right{
  display: inline-block;  
}


.footer-copyright {
  display: flex;
  width: 200px;
  min-height: 100px;
}